@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

.new-order-table {
    width: 100%;
}

.new-order-table td {
    width: 0;
    padding: 1rem;
    white-space: nowrap;
}